@import "tailwindcss";

@theme {
  --color-primary: rgb(6 57 47);
  --color-light: #B3FFE7;

  --font-inter: "Inter", sans-serif;
}


.skill {
  @apply bg-white/10 p-5 text-center rounded-xl hover:bg-white/20 duration-200;
}

.services-card{
    @apply bg-white/10 p-6 rounded-xl hover:-translate-y-2 hover:bg-white/20 duration-300;
}

.link-btn{
    @apply bg-primary   hover:-translate-y-1 hover:bg-white/20 duration-300 text-white text-sm font-semibold px-5 py-2 rounded-full ;
}

.card{
    @apply border flex flex-col justify-between mt-10 border-white/20 p-6 rounded-xl bg-white/5 ;
}